/* *******************
 * Member login styles 
 * *******************/

#hrhs_member_login_form .login-username {
  display: none;
}

/* ******************
 * Search form styles
 * ******************/

/* .hrhs-form-layout-wrap {
  display: flex;
} */

/* .hrhs-input-wrap {
  display: flex;
  flex-direction: column;
} */

.hrhs-option-wrap {
  display: flex;
}