/* *******************
 * Member login styles 
 * *******************/

#hrhs_search_wrap {
  display: flex;
  flex-wrap: nowrap;
}

#hrhs_search_form_wrap {
  flex-basis: auto;
  flex-grow: 1;
}

#hrhs_search_widget_wrap {
  flex-basis: 20ch;
  flex-grow: 0;
}

#hrhs_member_login_info {
  display: flex;
  flex-direction: column;
}

#hrhs_member_login_form {
  display: flex;
}

#hrhs_member_login_form .login-username {
  display: none;
}